.vscode/*
.vscode
!.vscode/settings.tpl.json
!.vscode/extensions.json
!.vscode/devcontainer.tpl.json
!.vscode/launch.json
.devcontainer
data/*
tests_dodoky
!data/.keep
models/*
!models/.keep
docs/docs/api
notebooks/*
docs/docs/licenses.md

builds/
dist/
public/
.mypy_cache/
.DS_Store
__pycache__/
.ipynb_checkpoints/
lightning_logs/
tensorboard_logs/
*.log
.pytest_cache
cov-report/
.coverage
htmlcov
.coverage.*
coverage.xml
.env
*.DS_Store*
roc_quality/analyse.py
*.ipynb
**/.DS_Store*
../.DS_Store